body{
  color: white;
  background-color: black;
}

#btn1 {
  border-radius: 10px;
  border: none;
  background-color: rgb(50, 50, 50);
  color: white;
  font-size: 1.2rem;
  padding: 10px;
  margin: 20px;
  cursor: pointer;
}
#getJokeBox {
  margin-left: 100px;
  width: 80vw;
  height: 30vh;
  display: flex;
  flex-direction: column ;
  justify-content: center;
  align-items: center;
  padding: 20px;

}
#joke {
  font-size: 1.2rem;
}

/* Count Joke styling */
#jokeCount {
  font-size: 1.2rem;
}